<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
</head>
<body class="container">

<div class="display-1">transfer service</div>
<hr/>

<a href="transfer-form" class="btn btn-link">transfer-form</a>

<hr/>

<div class="row">
    <div class="col-6">
        <form action="transfer" method="post">
            <div class="mb-3">
                <label for="fromAccount" class="form-label">From Account</label>
                <input type="text" class="form-control" id="fromAccount" name="fromAccount" required>
            </div>
            <div class="mb-3">
                <label for="toAccount" class="form-label">To Account</label>
                <input type="text" class="form-control" id="toAccount" name="toAccount" required>
            </div>
            <div class="mb-3">
                <label for="amount" class="form-label">Amount</label>
                <input type="number" class="form-control" id="amount" name="amount" required>
            </div>
            <button type="submit" class="btn btn-primary">Transfer</button>
        </form>
    </div>
</div>


</body>
</html>